<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Units</th>
      <th>Expires at</th>
      <th>Added at</th>
      <th>Picture</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @element.name %></td>
      <td><%= @element.quantity %></td>
      <td><%= @element.category %></td>
      <td><%= @element.expiration %></td>
      <td><%= @element.created_at %></td>
      <td><%= image_tag @element.picture_url, width: '100%' if @element.picture.present? %></td>
    </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
